/* table {
  border-collapse: collapse;
}

td {
  padding: 0 0 0 1em;
}

td:first-child {
  padding-left: 0;
} */

section {
  margin: 2em;
}

h2 {
  margin-top:3em;
}

.to-be-done {
  font-style:italic;
}

.to-be-done::before {
  content: "To be done: ";
}

.important {
  border:1px solid red;
  padding:0.5em;
  width: fit-content;
}

.green {
  color:green;
}

.red {
  color:red;
}

.grid3, .grid4 {
  display: grid;
  gap: 10px 10px;
  width: fit-content;
}

.grid3 {
  grid-template-columns: repeat(3, auto);
}

.grid4 {
  grid-template-columns: repeat(4, auto);
}
