@layer block-elements {

  /* table {
    border-collapse: collapse;
  }

  td {
    padding: 0 0 0 1em;
  }

  td:first-child {
    padding-left: 0;
  } */

  section {
    margin: 2em;
  }

}

@layer special-elements {

  .tbd {
    font-size:0.8em;
    font-style:italic;
  }

  .tbd::before {
    content: "To be done: ";
  }

  /* Whatever, validator */
  green {
    color:green;
  }

  red {
    color:red;
  }
}
